@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  
  --color-brand-cyan: #00d2ff;
  --color-brand-green: #00ff88;
  --color-brand-orange: #ff9900;
  --color-header-bg: #1a1a1a;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-cyan: var(--color-brand-cyan);
  --color-brand-green: var(--color-brand-green);
  --color-brand-orange: var(--color-brand-orange);
  --color-header-bg: var(--color-header-bg);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
